{% load staticfiles %}
<div class="sidebar sidebar-main">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="{% url 'profile' %}" class="media-left"><img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{ request.user.username|title }}</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;{{ request.user.first_name|title }} {{ request.user.last_name|title }}
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    {% if user.is_authenticated %}
                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li {% if request.path == '/ping/' %} class="active" {% endif %}>
                        <a href="{% url 'home' %}"><i class="icon-home4"></i> <span>Dashboard</span></a>
                    </li>
                    <li {% if request.path == '/history/' %} class="active" {% endif %}>
                        <a href="{% url 'history' %}"><i class="icon-calendar3"></i> <span>History</span></a>
                    </li>
                    <!-- /Main -->

                    <!-- Management -->
                    <li class="navigation-header"><span>Management</span> <i class="icon-menu" title="Forms"></i></li>
                    <li {% if request.path == '/ip/' %} class="active" {% endif %}>
                        <a href="#"><i class="icon-pencil3"></i> <span>Address</span></a>
                        <ul>
                            <li {% if request.path == '/ip/' %} class="active" {% endif %}><a href="{% url 'ip' %}">List Address</a></li>
                            <li {% if request.path == '/ip/create/' %} class="active" {% endif %}><a href="{% url 'ip_create' %}">New Address</a></li> 
                        </ul>
                    </li>
                    <!-- /Management -->
                    {% endif %}

                    <!-- Information -->
                    <li class="navigation-header"><span>Information</span> <i class="icon-menu" title="Forms"></i></li>
                    <li {% if request.path == '/help' %} class="active" {% endif %}>
                        <a href="{% url 'help' %}"><i class="icon-lifebuoy"></i> <span>Help</span></a>
                    </li>
                    
                    <li {% if request.path == '/about' %} class="active" {% endif %}>
                        <a href="{% url 'about' %}"><i class="icon-people"></i> <span>About</span></a>
                    </li>
                    <!-- /Information -->
                    
                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
